body {
    background-color: #101010;
    background-image:url('../img/redcarpet.jpg');
    background-attachment: fixed;
}
td {
    padding-left: 5px;
    padding-right: 5px;
}

.wrapper {
    width: 75%;
    margin: auto;
    background-color: white;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.header{ 
    padding: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.1428571435;
    color: inherit;
    background-color: #eee
}

.vis {
    width: 500px;
    display: block;
    margin: auto;
}

.text{
    background-color: white;
    border: none;
    border-style: none;
}

footer {
    font-weight: bold;
    font-size: small;
}